%% -----------------------------------------------------------------------------
%%
%% rebar.config: SQL - rebar3 configuration file.
%%
%% -----------------------------------------------------------------------------

{cover_enabled, true}.

{cover_excl_mods, [sql_lex, sqlparse]}.

{cover_export_enabled, true}.

{cover_opts, [verbose]}.

{coveralls_coverdata, ["_build/test/cover/ct.coverdata", "_build/test/cover/eunit.coverdata"]}.

{coveralls_service_name, "github"}.

{ct_opts, [{cover}, {verbose}]}.

{deps, [{jpparse, "1.3.1"}]}.

{deps_error_on_conflict, true}.

{dialyzer_plt_location, local}.

{
  dialyzer_warnings,
  [error_handling, overspecs, race_conditions, specdiffs, underspecs, unknown, unmatched_returns]
}.

{eunit_opts, [{skip_deps, true}, verbose]}.

{plugins, [rebar3_hex, steamroller]}.

{
  steamroller,
  [{line_length, 100}, {indent, 2}, {inputs, ["rebar.config*", "{src,test}/**/*.{[he]rl,app.src}"]}]
}.

{profiles, [{test, [{plugins, [coveralls, geas_rebar3]}]}]}.

{xrl_opts, [{report_warnings, false}, {verbose, false}]}.

{yrl_opts, [{report_warnings, false}, {verbose, false}]}.
