{cover_enabled, true}.
{cover_excl_mods, [sql_lex, sqlparse]}.

{deps, [{jpparse, {git, "https://github.com/K2InformaticsGmbH/jpparse.git", {branch, "rebar3"}}}]}.
{deps_error_on_conflict, true}.

{eunit_opts, [
    {skip_deps, true},
    verbose
]}.

{xrl_opts, [dfa_graph, verbose]}.

{yrl_opts, [verbose]}.
