%% -*- mode: erlang -*-
%% ex: ft=erlang
{xrl_opts, [dfa_graph,verbose]}.
{yrl_opts, [verbose]}.
{eunit_opts, [verbose]}.
{xref_checks, [undefined_function_calls, undefined_functions,
               %locals_not_used, exports_not_used,
               deprecated_function_calls, deprecated_functions]}.
{deps, [
    {jpparse, "0.0.3", {git, "https://github.com/k2informatics/jpparse.git", {tag, "jpparse-0.0.3"}}}
]}.
